.end-session {
  background-color: #0D00A4;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
  font-weight: bold;
  min-width: 300px;
}

.num-members {
    color: #0D00A4;
    border: 1.5px solid #0D00A4;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
}

.spinner-3 {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #6789D8;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
